* {
    box-sizing: border-box;
}

body {
    background-image: url('../public//images//background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2BBAD7;

    margin: 0;
}

// @media only screen and (max-width: 767px) {
//     body {
//         background-image: url('../public//images//background-mobile.jpg');
//     }
// }